# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Frontend
node_modules/
dist/
.DS_Store
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment
.env
.env.local

# Build
build/
tmp/

server
*.md
!README.md